%tr
  %td= factor.dimention.priority.title
  %td= factor.dimention.title
  %td= factor.title
  %td= factor.weight
  %td= link_to "Show", factor_path(factor)
  %td= link_to "Edit", edit_factor_path(factor)
