.content
  .page-heading
  .row
    .col-sm-6.portlets
      .widget
        .widget-header.transparent
          %h2
            %strong Factor
            Form
          .additional-btn
            %a.hidden.reload{:href => "#"}
              %i.icon-ccw-1
            %a.widget-toggle{:href => "#"}
              %i.icon-down-open-2
            %a.widget-close{:href => "#"}
              %i.icon-cancel-3
        .widget-content.padding
          = render partial: "shared/print_errors", locals: {obj: @factor}
          = form_for @factor do |f|
            .form-group
              %label Priority
              = f.grouped_collection_select :dimention_id, Priority.all, :dimentions, :title, :id, :title, :class => "form-control"
            .form-group
              %label Title
              = f.text_field :title, :class => "form-control"
            .form-group
              %label Weight
              = f.number_field :weight, :class => "form-control"
            .form-group
              = f.submit class: "button btn btn-primary"
              = link_to " Cancel", factors_path, class: "btn btn-primary", :style => "height: 34px;padding-top: 6px;"
              - if @factor.technologies.count==0
                = link_to " Delete Dimention", factor_path(@factor), method: :delete, data: { confirm: "Are you Sure?" }, class: "btn btn-danger i fa fa-trash-o", :style => "height: 34px;padding-top: 8px;"
