.content
  .page-heading
  .row
    .col-sm-6.portlets    
      .widget
        .widget-header.transparent
          %h2
            %strong Technology
            Form
          .additional-btn
            %a.hidden.reload{:href => "#"}
              %i.icon-ccw-1
            %a.widget-toggle{:href => "#"}
              %i.icon-down-open-2
            %a.widget-close{:href => "#"}
              %i.icon-cancel-3
        .widget-content.padding
        

          = form_for @technology  do |a|
            .form-group
              %label ID
              = a.text_field :id, :class => "form-control"

            .form-group
              %label Title
              = a.text_field :title, :class => "form-control"

            .form-group
              %label Summary
              = a.text_field :summary, :class => "form-control"
            
            .form-group
              = a.submit class: "button btn btn-primary"

              